---
import softSkills from "./skillsArrays/softSkills";
import hardSkills from "./skillsArrays/hardSkills";
import tools from "./skillsArrays/tools";
---

<section class="sections max-w-[1150px] self-center relative h-fit">
  <div
    class="relative flex flex-col flex-wrap justify-center gap-8 h-fit w-full items-center"
  >
    <div class="self-center flex w-full flex-col gap-y-8">
      <h2
        class="gradient-text text-center f-40 leading-8 lg:leading-[60px] f-700"
      >
        Habilidades que aprenden nuestros Campers
      </h2>
      <p class="text-center text-sm lg:text-base leading-6 text-white">
        En Campuslands, nuestros estudiantes adquieren el equilibrio perfecto
        entre conocimiento técnico y humano para afrontar los retos de la
        industria tech.
      </p>
    </div>
    <div class="indicators px-4 max-w-[980px]">
      <div
        class="flex flex-col md:flex-row items-center gap-2 mx-auto max-w-fit border bg-primary border-white rounded-[15px] p-2 mb-10"
      >
        <button
          class="tab-btn flex items-center justify-center rounded-[15px] cursor-pointer hover:bg-primary_action h-12 w-[196px] bg-primary_action text-white font-semibold"
          data-tab="hardSkills"
        >
          Habilidades técnicas
        </button>
        <button
          class="tab-btn flex items-center justify-center rounded-[15px] cursor-pointer hover:bg-primary_action h-9 w-[196px] text-black"
          data-tab="tools"
        >
          Herramientas
        </button>
        <button
          class="tab-btn flex items-center justify-center rounded-[15px] cursor-pointer hover:bg-primary_action h-12 w-[196px] text-black"
          data-tab="softSkills"
        >
          Habilidades blandas
        </button>
      </div>

      <div
        id="hardSkills"
        class="skill-content flex flex-wrap justify-center gap-5 lg:gap-5"
      >
        {
          hardSkills.map((skill) => (
            <img
              src={skill.asset}
              alt={skill.name}
              class="max-h-[55px]
min-w-[130px] lg:max-h-[60px] lg:min-w-[205px]"
              draggable="false"
              title={skill.name}
            />
          ))
        }
      </div>

      <div
        id="tools"
        class="skill-content hidden flex flex-wrap justify-center gap-5 lg:gap-4"
      >
        {
          tools.map((skill) => (
            <img
              src={skill.asset}
              alt={skill.name}
              title={skill.name}
              class="max-h-[55px]
min-w-[130px] lg:max-h-[95px] lg:min-w-[170px]"
              draggable="false"
            />
          ))
        }
      </div>

      <div
        id="softSkills"
        class="skill-content hidden flex flex-wrap justify-center gap-5 lg:gap-4"
      >
        {
          softSkills.map((skill) => (
            <div class="flex rounded-[15px]  bg-gradient-to-b from-[#FFFFFF10] to-[#FFFFFF20] items-center gap-2 px-4 py-2">
              <img
                src={skill.asset}
                alt={skill.name}
                title={skill.name}
                class="size-7"
                draggable="false"
              />
              <p>{skill.name}</p>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>

<script>
  const tabButtons = document.querySelectorAll(".tab-btn");
  const skillContents = document.querySelectorAll(".skill-content");

  tabButtons.forEach((button) => {
    button.addEventListener("click", () => {
      tabButtons.forEach((btn) => {
        btn.classList.remove(
          "bg-primary_action",
          "text-white",
          "font-semibold"
        );
        btn.classList.add("text-black");
      });

      button.classList.remove("text-black");
      button.classList.add("bg-primary_action", "text-white", "font-semibold");

      skillContents.forEach((content) => content.classList.add("hidden"));

      const tabId = button.dataset.tab;
      document.getElementById(tabId).classList.remove("hidden");
    });
  });
</script>
