---
import { Image } from 'astro:assets';
import companySolvo from '~/assets/img/companies/Solvo.svg';
import vensura from '~/assets/img/companies/patrocina/VENSURA.svg';
import zonafranca from '~/assets/img/companies/patrocina/ZONA_FRANCA.svg';
import fenalco from '~/assets/img/companies/patrocina/fenalco.svg';
import marval from '~/assets/img/companies/patrocina/marval.svg';
import grupoSura from '~/assets/img/companies/patrocina/grupoSura.svg';
import andi from '~/assets/img/companies/patrocina/andi.svg';
import camaraComercio from '~/assets/img/companies/patrocina/camaraComercio.svg';
import fedesoft from '~/assets/img/companies/patrocina/fedesoft.svg';
---

<section class="allied-companies overflow-hidden pb-10 relative sections max-w-[1150px] self-center">
	<div class="mb-10">
		<p class="text-2xl md:text-[32px] text-center mb-5 px-4 lg:px-0 gradient-text font-bold max-w-[400px] mx-auto">Aliados transformando nuestro talento joven</p>
		<p class="text-sm lg:text-base text-center">En Campuslands, sabemos que el cambio comienza con un apoyo genuino.</p>
	</div>
	<div class="overflow-hidden">
		<div class="flex flex-wrap gap-6 mx-auto max-w-[1150psx] justify-center">
			<div class="w-[48%] lg:w-[18%] h-fit flex items-center justify-center">
				<Image src={vensura} alt="Unete a nuestra comunidad" class="" />
			</div>
			<div class="w-[48%] lg:w-[18%] h-fit flex items-center justify-center">
				<Image src={zonafranca} alt="Unete a nuestra comunidad" class="" />
			</div>
			<div class="w-[48%] lg:w-[18%] h-fit flex items-center justify-center">
				<Image src={fenalco} alt="Unete a nuestra comunidad" class="" />
			</div>
			<div class="w-[48%] lg:w-[18%] h-fit flex items-center justify-center">
				<Image src={marval} alt="Unete a nuestra comunidad" class="" />
			</div>
			<div class="w-[48%] lg:w-[18%] h-fit flex items-center justify-center">
				<Image src={grupoSura} alt="Unete a nuestra comunidad" class="" />
			</div>
			<div class="w-[48%] lg:w-[18%] h-fit flex items-center justify-center">
				<Image src={andi} alt="Unete a nuestra comunidad" class="" />
			</div>
			<div class="w-[48%] lg:w-[18%] h-fit flex items-center justify-center">
				<Image src={camaraComercio} alt="Unete a nuestra comunidad" class="" />
			</div>
			<div class="w-[48%] lg:w-[18%] h-fit flex items-center justify-center">
				<Image src={fedesoft} alt="Unete a nuestra comunidad" class="" />
			</div>
		</div>
	</div>
</section>
