---
import { Image } from 'astro:assets';
import CoworkingLogo from '~/assets/img/nosotros/coworking_logo.png'
import Coworking1 from '~/assets/img/nosotros/coworking_site1.png'
import Coworking2 from '~/assets/img/nosotros/coworking_site2.png'
import Coworking3 from '~/assets/img/nosotros/coworking_site3.png'
import Coworking4 from '~/assets/img/nosotros/coworking_site4.png'
---


<section class="flex flex-col items-center sections max-w-[1150px] self-center gap-6">
	<div class="w-[410px] md:w-[691px] flex flex-col gap-y-8 px-6 lg:px-0">
		<p class="gradient-text text-[18px] md:text-[32px] mx-auto text-center font-semibold md:font-bold md:px-14">¡Impulsa tus ideas en el <br /> corazón del talento digital!</p>
		<p class="font-semibold text-white !leading-[1.6] md:font-semibold text-sm md:text-lg mx-auto text-center">Descubre nuestro espacio de coworking en Campuslands Bucaramanga: Un lugar diseñado para conectar, innovar y crear sin límites.</p>
	</div>
	<div class="flex flex-wrap justify-center mb-10">
		<Image src={CoworkingLogo} alt="campuslands-coworking" />
	</div>
	<div class="flex flex-wrap justify-center gap-4">
		<div class="w-full lg:w-2/12 flex items-center justify-center">
			<Image src={Coworking1} alt="Coworking 1" />
		</div>
		<div class="w-full lg:w-2/12 flex items-center justify-center">
			<Image src={Coworking2} alt="Coworking 2" />
		</div>
		<div class="w-full lg:w-2/12 flex items-center justify-center">
			<Image src={Coworking3} alt="Coworking 3" />
		</div>
		<div class="w-full lg:w-2/12 flex items-center justify-center">
			<Image src={Coworking4} alt="Coworking 4" />
		</div>
	</div>
</section>
<style>

</style>