---
import { Image } from "astro:assets";
import CardWords from "./cardWords.vue";
import Cohete from "~/assets/img/icons/indicators/cohete.svg";
import TrabajoEquipo from "~/assets/img/icons/indicators/trabajo-equipo.svg";
import Medalla from "~/assets/img/icons/indicators/medalla.svg";
import Flexibilidad from "~/assets/img/icons/indicators/flexibilidad.svg";
import Transparencia from "~/assets/img/icons/indicators/transparencia.svg";
---

<section class=" self-center flex flex-col gap-6">
  <div
    class="flex flex-col items-center mx-auto gap-6 mt-6 w-[328px] md:w-[691px]"
  >
    <p
      class="gradient-text font-extrabold text-2xl md:text-[32px] mx-auto text-center"
    >
      ¿Qué nos impulsa en Campuslands?
    </p>
    <p
      class="font-semibold text-white !leading-[1.6] text-sm md:text-lg mx-auto text-center"
    >
      Lo que nos mueve va más allá de las palabras; son nuestros valores los que
      definen nuestra cultura y nos llevan a crear un futuro audaz, inclusivo y
      transformador. Descubre los principios que nos guían y nos hacen
      diferentes
    </p>
  </div>
  <div
    class="flex flex-wrap sections max-w-[1200px] self-center justify-evenly overflow-hidden p-5 gap-5  w-full "
  >
    <CardWords
      title="Innovación constante"
      description="Creemos que la única forma de avanzar es desafiando lo convencional y creando nuevas formas de pensar y hacer. "
    >
      <Image src={Cohete} alt="cohete" />
    </CardWords>
    <CardWords
      title="Trabajo en equipo"
      description="Juntos somos más fuertes. El verdadero impacto se logra cuando unimos nuestras habilidades y talentos para construir algo más grande.es."
    >
      <Image src={TrabajoEquipo} alt="equipo" />
    </CardWords>
    <CardWords
      title="Responsabilidad con propósito"
      description="No solo nos comprometemos con lo que hacemos, sino con el cambio real que queremos generar, desde la formación hasta el impacto en la sociedad."
    >
      <Image src={Medalla} alt="medalla" />
    </CardWords>
    <CardWords
      title="Adaptabilidad"
      description="Vivimos en un mundo en constante evolución. En Campuslands, nos adaptamos, aprendemos y evolucionamos con agilidad para liderar el cambio."
    >
      <Image src={Flexibilidad} alt="flexibilidad" />
    </CardWords>
    <CardWords
      title="Transparencia"
      description="La honestidad es la base de todo lo que hacemos. Actuamos con total transparencia en nuestros procesos, decisiones y relaciones."
    >
      <Image src={Transparencia} alt="transparencia" />
    </CardWords>
  </div>
</section>