---
import Solvo from '~/assets/img/companies/Solvo.svg'
import QNT from '~/assets/img/companies/QNT.svg'
import Pensemos from '~/assets/img/companies/Pensemos1.svg'
import GalapagoAgroConsultores from '~/assets/img/companies/GalapagoAgroConsultores.svg'
import Applus from '~/assets/img/companies/Applus.svg'
import Grafosoft from '~/assets/img/companies/Grafosoft.svg'
import Students from '~/assets/img/nosotros/students.png'
import circleArrowDown from '~/assets/img/icons/circle-arrow-down.svg'
import StudentsTwo from '~/assets/img/nosotros/students-two.png'
import agenda from '~/assets/img/icons/agenda.svg'
import whatsapp from '~/assets/img/icons/whatsapp-green-dark.svg'
import StudentsThree from '~/assets/img/nosotros/students-three.png'
import AHref from './aHref.vue'
import { Image } from 'astro:assets';

---

<section class="flex justify-center items-center gap-16 lg:min-h-[740px] mx-4">
	<div class="flex flex-col flex-grow-1 w-[560px] gap-y-3">
		<p class="gradient-text font-bold leading-9 lg:!leading-[60px] text-2xl text-center md:text-[40px] md:text-start"> Juntos, transformamos el futuro de la tecnología en Colombia y América Latina </p>
		<p class="text-base font-medium text-center md:text-start text-white">Somos un equipo dedicado a transformar jóvenes talentos en profesionales listos para revolucionar la industria tecnológica.</p> 
		<a
			href="https://wa.me/+573160522555?text=Buen+día,+quisiera+obtener+información+sobre+cómo+emplear+talento+de+Campuslands"
			class="flex  lg:hidden justify-center items-center gap-x-2 z-30 my-6"
			target="_blank"
		>
			<button class="btn-primary w-full max-w-[328px] lg:me-auto f-600 h-12 lg:h-14 px-6 flex justify-center items-center gap-x-2 z-30">
				Emplea nuestros Campers
				<img src="/img/icons/arm.svg" alt="cara feliz" class="hidden md:block">
			</button>
		</a>
		<div class="flex-col items-center flex min-[1200px]:hidden gap-y-6">
			<Image src={Students} alt="estudiantes" class="w-auto h-[276px]" />
		</div>
	</div>
	<Image src={Students} alt="estudiantes" class="hidden min-[1200px]:block w-[430px] h-[435px]" />
</section>
<section id="students-two" class="flex justify-center items-center flex-col-reverse min-[1200px]:flex-row mt-8 gap-16 min-h-[352px]">
	<Image src={StudentsTwo} alt="estudiantes" class="w-[328px] h-[236px] md:w-[488px] md:h-[352px]" />
	<div class="flex flex-col gap-y-5 max-w-[328px] md:max-w-[471px]">
		<p class="gradient-text font-extrabold !leading-[1.6] text-2xl mx-auto w-[328px] text-center md:text-[32px] md:w-full md:text-start">
			Democratizar el talento tech y transformar vidas
		</p>
		<p class="text-center text-base md:text-start leading-6 text-white">
			En Campuslands, formamos a la próxima generación de desarrolladores con una educación integral y humana. Impulsamos el crecimiento de jóvenes como agentes de cambio, listos para liderar la transformación tecnológica en empresas que buscan innovación, productividad y un impacto real en la economía global.
		</p>
		<div class="flex items-center justify-between flex-col md:flex-row gap-x-4">
			<a href="https://wa.me/+573177709345?text=Hola,+me+gustaría+obtener+información+para+agendar+una+cita+y+conocer+Campuslands." target="_blank" class="w-full">
				<button class="btn-primary w-full mb-6 md:max-w-[216px] md:mb-0 h-14 px-6 flex items-center justify-center gap-x-2 z-30">
					Agenda tu visita
					<Image src={agenda} alt="agendar" class="hidden md:block">
				</button>
			</a>
		</div>
	</div>
</section>
<section class="flex justify-center items-center flex-col  min-[1200px]:flex-row mt-16 gap-16 min-h-[352px]">
	<div class="flex flex-col gap-y-5 max-w-[328px] md:max-w-[471px]">
		<p class="gradient-text font-extrabold !leading-[1.6] text-2xl mx-auto w-[328px] text-center md:text-[32px] md:w-full md:text-start">
			Ser el mayor motor de talento tech en Colombia
		</p>
		<p class="text-center text-base md:text-start leading-6 text-white">
			Convertirnos en el referente en la formación de desarrolladores, creativos digitales y expertos en marketing, impulsando mentes brillantes en espacios de innovación y aprendizaje ágil. Nuestro objetivo: acelerar el crecimiento de empresas y transformar la economía con talento listo para liderar el futuro.
		</p>
		<a href="https://wa.me/+573177709345?text=Hola,+me+gustaría+obtener+información+para+agendar+una+cita+y+conocer+Campuslands." target="_blank">
			<button class="btn-primary !text-sm w-full md:max-w-[231px] h-14 px-6 flex items-center justify-center gap-x-2 z-30">
				Chatea con nosotros
				<Image src={whatsapp} alt="whatsapp" class="hidden md:block">
			</button>
		</a>
	</div>
	<Image src={StudentsThree} alt="estudiantes" class="w-[328px] h-[236px] md:w-[488px] md:h-[352px]" />
</section>

<style>
.icon-circle-arrow {
	animation: move-circle 2s infinite;
}

@keyframes move-circle {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(20px);
	}
	100% {
		transform: translateY(0);
	}
}

</style>