---
import { Image } from 'astro:assets';
import CardWords from "./cardWords.vue"
import Cohete from '~/assets/img/icons/indicators/cohete.svg'
import TrabajoEquipo from '~/assets/img/icons/indicators/trabajo-equipo.svg'
import Medalla from '~/assets/img/icons/indicators/medalla.svg'
import Flexibilidad from '~/assets/img/icons/indicators/flexibilidad.svg'
import Transparencia from '~/assets/img/icons/indicators/transparencia.svg'
---


<section class="flex flex-col gap-6 my-8">
	<div class="flex flex-col items-center mx-auto gap-6 w-[691px]">
		<p class="gradient-text font-extrabold text-2xl mx-auto text-center">Lo que nos mueve</p>
		<p class="font-semibold text-white !leading-[1.6] text-lg mx-auto text-center">Más que palabras, nuestros valores son el motor de nuestra cultura. Conoce las creencias que nos guían hacia un futuro audaz y responsable.</p>
	</div>
	<div class="flex mx-auto gap-x-6 max-w-[1126px]">
		<CardWords>
			<Image src={Cohete} alt="cohete" />
		</CardWords>
		<CardWords title="Trabajo en Equipo" description='Colaborar de forma efectiva, valorando la diversidad de ideas y habilidades para lograr los objetivos comunes.' >
			<Image src={TrabajoEquipo} alt="equipo" />
		</CardWords>
		<CardWords title="Responsabilidad" description='Comprometerse con los resultados y asumir la responsabilidad de las decisiones y acciones.' >
			<Image src={Medalla} alt="medalla" />
		</CardWords>
		<CardWords title="Flexibilidad" description='Ser adaptable y abierto a cambios, tanto en productos como en métodos de trabajo.' >
			<Image src={Flexibilidad} alt="flexibilidad" />
		</CardWords>
		<CardWords title="Transparencia" description='Compartir información relevante con el equipo, ser claro en las decisiones y fomentar un ambiente de confianza.' >
			<Image src={Transparencia} alt="transparencia" />
		</CardWords>
	</div>
</section>