---

interface Props {
    whatsApp: string;
    tipo: "contacto" | "patrocinio" | "emplear" | "agendar" | "insripcion" | "chatear";
    iconName?: string;
    alt?:string;
    isOutline?: boolean;
    StylesAnchor?: string;
    StylesButton?: string;
}

const {whatsApp,tipo,iconName,alt,isOutline, StylesAnchor, StylesButton} = Astro.props;

const presets = {
    "contacto" : ["Contactanos", "Hola%2C+estoy+interesado+en+obtener+información+detallada+sobre+Campuslands."],
    "chatear" : ["Chatea Con Nosotros", "Hola%2C+me+gustaría+obtener+información+para+agendar+una+cita+y+conocer+Campuslands."],
    "patrocinio" : ["Patrocina nuestros campers", "Hola%2C+estoy+buscando+desarrolladores%2C+¿cómo+puedo+acceder+al+talento+de+Campuslands."],
    "emplear" : ["Emplea nuestros Campers", "Buen+día,+quisiera+obtener+información+sobre+cómo+emplear+talento+de+Campuslands."],
    "agendar" : ["Agenda tu visita","Hola,+me+gustaría+obtener+información+para+agendar+una+cita+y+conocer+Campuslands."],
    "insripcion": ["Inscríbete ahora", "Hola,+estoy+interesado+en+aprender+programación.+¿Cómo+funciona+el+entrenamiento+en+Campuslands?"]
}

const config = presets[tipo]

const presetStyle = isOutline ? "btn-outline" : "btn-primary";
---

<a href=`https://wa.me/${whatsApp}?text=${config[1]}` target="_blank" class={StylesAnchor}>
    <button class=`${presetStyle} p-7 lg:p-7 flex justify-center items-center gap-x-2 z-30 ${StylesButton}`>
        {config[0]}
        {iconName && <img src={`img/icons/${iconName}`} alt={alt} class="hidden lg:block"/>}
    </button>
</a>